div{
    position: relative;
    margin-top: -5px;
}

.block{
    height: 31px;
    width: 200px;
    background-image: url(images/block.png);
}

.container{
    width: 200px;
/*    background-color: white;
    background: url(images/container_top_left.png) top left no-repeat,
                url(images/container_bottom_left.png) bottom left no-repeat,
                url(images/container_top_right.png) top right no-repeat,
                url(images/container_bottom_right.png) bottom right no-repeat,
                url(images/container_left.png) center left repeat-y;
                url(images/container_top.png) top repeat-x,
                url(images/container_bottom.png) bottom repeat-x;
*/
    border-width: 27px 10px 25px 44px;
    -webkit-border-image: uri(images/container.png) 27px 10px 25px 44px;
    padding-left: 15px;
    padding-top: 26px;
    padding-bottom: 30px;
}

.trigger{
    height: 31px;
    width: 200px;
    background-image: url(images/trigger.png);
}

label{
    position: absolute;
    top: 5px;
    left: 20px;
}
