table{
	empty-cells: show;
	padding: 0px;
}
td{
	height: 20px;
	width: 40px;
	min-height: 20px;
	min-width: 40px;
}

td:nth-child(1){
    width: 10px;
}

div{
	height: 10px;
}
.vt{
	vertical-align: top;
}
.tl{
	-webkit-border-top-left-radius: 10px;
}
.pz_tl{
	-webkit-border-top-left-radius: 5px;
}
.tr{
	-webkit-border-top-right-radius: 10px;
}
.pz_tr{
	-webkit-border-top-right-radius: 5px;
}
.bl{
	-webkit-border-bottom-left-radius: 10px;
}
.pz_bl{
	-webkit-border-bottom-left-radius: 5px;
}
.br{
	-webkit-border-bottom-right-radius: 10px;
}
.pz_br{
	-webkit-border-bottom-right-radius: 5px;
}
.b{
	background-color: blue;
}
.w{
	background-color: white;
}

div{
    position: relative;
    margin-top: -5px;
}

.block{
    height: 31px;
    width: 200px;
    background-image: url(block.png);
}

.container{
    height: 91px;
    width: 200px;
    background-image: url(container.png);
    padding-left: 15px;
    padding-top: 30px;
    padding-bottom: 10px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top left;
}

.trigger{
    height: 31px;
    width: 200px;
    background-image: url(trigger.png);
}

label{
    position: absolute;
    top: 5px;
    left: 20px;
}
