div{
    position: relative;
    margin-top: -5px;
}

.block{
    height: 31px;
    width: 200px;
    background-image: url(images/block.png);
}

.container{
    width: 200px;
    margin-top: 0px;
    padding: 27px 10px 25px 44px;
}
.container .top_left{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 44px;
    height: 22px;
    background: transparent url(images/container_top_left.png) top left no-repeat;
}
.container .top_right{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 5px;
    height: 22px;
    background: transparent url(images/container_top_right.png) top right no-repeat;
}
.container .bottom_left{
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 44px;
    height: 26px;
    background: transparent url(images/container_bottom_left.png) bottom left no-repeat;
}
.container .bottom_right{
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 5px;
    height: 26px;
    background: transparent url(images/container_bottom_right.png) bottom right no-repeat;
}
.container .top{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 151px;
    height: 22px;
    margin-left: 44px;
    margin-right: 5px;
    background: transparent url(images/container_arm.png) top left repeat-x; 
}
.container .bottom{
    position: absolute;
    left: 44px;
    bottom: 0px;
    width: 151px;
    height: 26px;
    background: transparent url(images/container_arm.png) top left repeat-x; 
}
.container .left{
    position: absolute;
    left: 0px;
    top: 22px;
    width: 44px;
    height: 133px;
    background: transparent url(images/container_leg.png) top left repeat-y;
}

.trigger{
    height: 31px;
    width: 200px;
    background-image: url(images/trigger.png);
}

label{
    position: absolute;
    top: 5px;
    left: 20px;
}
