document, body{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

body{
    height: 100%;
}

#top_button_bar{
    height: 45px;
    width: 100%;
    background-color: #CCC;
}

#top_button_bar h1{
    display: inline;
}

#blocks_column{
    position: absolute;
    height: 100%;
    left: 0px;
    top: 0px;
    padding-top: 55px;
    width: 210px;
}

#blocks_menu{
    height: 115px;
    background-color: #666;
}

#blocks_factories{
    height: auto;
    background-color: #333;
}

#scripts_column{
    position:absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    
    margin-left: 220px;
    margin-right: 450px;
}

#scripts_controlpanel{
    height: 80px;
    background-color: #666;
}

#scripts_container{
    height: auto;
    background-color: #333;
}

#stage_column{
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 450px;
    margin-top: 55px;
    margin-bottom: -55px;
}

#stage_tools{
    height: 50px;
    background-color: #CCC;
}

#stage_canvas{
    height: 350px;
    background-color: #FFF;
}

#stage_buttons{
    height: 30px;
    background-color: #CCC;
}

#stage_sprites{
    height: auto;
    background-color: #333;
}




