div{
    position: relative;
}

.drop_pointer{
    position: absolute;
    left: 14px;
    top: 0px;
    width: 11px;
    height: 6px;
    border: 1px solid red;
}

.drop_target{
    position: absolute;
    left: 0px;
    top: 24px;
    width: 100%;
    height: 6px;
}

.drop_ok{
    background-color: #FFF;
}

.show_target{
    background-color: white;
    border: 1px solid red;
}

.trigger{
    padding-top: 31px;
    width: 200px;
    background: transparent url(../images/trigger.png) top left no-repeat;
}

.trigger > .right{
    position: absolute;
    width: 5px;
    height: 31px;
    right: -5px;
    top: 0px;
    background: transparent url(../images/trigger.png) -995px 0px no-repeat;
}

.block{
    padding-top: 31px;
    width: 200px;
    background: transparent url(../images/block.png) top left no-repeat;
}

.block > .block{
    top: -4px;
}

.block > .right{
    position: absolute;
    width: 5px;
    height: 31px;
    right: -5px;
    top: 0px;
    background: transparent url(../images/block.png) -995px 0px no-repeat;
}

label{
    position: absolute;
    top: 5px;
    left: 20px;
}

.container{
    width: 200px;
    margin-top: 22px;
    margin-left: 44px;
    margin-bottom: 26px;
}

.container > label{
    top: -22px;
}
.container > .top_left{
    position: absolute;
    left: -44px;
    top: -22px;
    width: 44px;
    height: 26px;
    background: transparent url(../images/container.png) top left no-repeat;
}

.container > .drop_pointer{
    top: -22px;
    left: -30px;
}
.container > .drop_target{
    top: -2px;
    left: -30px;
}
.container > .top_right{
    position: absolute;
    right: -5px;
    top: -22px;
    width: 5px;
    height: 22px;
    background: transparent url(../images/container.png) top right no-repeat;
}
.container > .bottom_left{
    position: absolute;
    left: -44px;
    bottom: -26px;
    width: 44px;
    height: 26px;
    background: transparent url(../images/container.png) bottom left no-repeat;
}
.container > .bottom_right{
    position: absolute;
    right: -5px;
    bottom: -26px;
    width: 5px;
    height: 26px;
    background: transparent url(../images/container.png) bottom right no-repeat;
}
.container > .top{
    position: absolute;
    left: 0px;
    top: -22px;
    width: 100%;
    height: 22px;
    background: transparent url(../images/container.png) -44px 0px no-repeat;
}
.container > .bottom{
    position: absolute;
    left: 0px;
    bottom: -26px;
    width: 100%;
    height: 26px;
    background: transparent url(../images/container.png) -44px -985px no-repeat;
}
.container > .left{
    position: absolute;
    left: -44px;
    top: 0px;
    width: 22px;
    height: 100%;
    background: transparent url(../images/container.png) 0px -22px no-repeat;
}

.container > .container, .container > .block{
    left: -28px;
}

